{% extends 'base.html' %}
{% load static %}
{% block title %}Weirdoso Stories - Library {%  endblock %}
{% block content %}
<style>
     #header img:hover {

					transition: 0.6s ease;
					transform: scale(1.1);


				}
</style>
<br/>
<div class="container" style="max-width:80%; ">
    <div class="row featurette">
        <div class="col-md-10">
            <br/><br/><br/>
            <h1 style="font-family: lato; color: #725145;">Find Your Next Read </h1>
            <p class="lead">Romance and General Fiction. Completed Stories. Ad-free chapters. </p>
            <br/><br/><br/>

        </div>
        <center>
            {% for bookpost in object_list %}
            <div class="card-deck" style="display:inline-block; padding:8px;float:left;margin-bottom:50px;" id="header">
                {% if bookpost.header_image %}
                <a href="{% url 'book-detail' bookpost.pk %}" style="text-decoration: none; color: black;">
                    <img class="card-img-top rounded" src=" {{ bookpost.header_image.url }} "
                         style="width:100%; object-fit:scale-down;" height="200">
                </a>
                {% else %}
                <a href="{% url 'book-detail' bookpost.pk %}" style="text-decoration: none; color: black;">
                    <img src="{% static 'theweirdosostories/images/bgset.jpg' %}" width="150" height="150"
                         class="rounded-circle">
                </a>
                {% endif %}


            </div>
            {% endfor %}
        </center>
    </div>
</div>


{% endblock %}
