{% extends 'base.html' %}
{% load static %}
{% block title %}Weirdoso Stories - Terms and Policy{% endblock %}
{% block content %}

<style>

</style>
<br/>


<div class="container" style="max-width:80%; ">

    <div class="row featurette">
        <div class="col"><br/>
            <h2 style="font-family: lato; color: #7f5a37;"> General Terms and Policy</h2><br/>
            <p class="lead"><b>Do not copy.</b> Any content displayed in this website are all created by Weirdoso and
                all rights are reserved. </p>

            <p class="lead"><b>Read at your own risk.</b> The stories may have content that are not ideal to read by
                young generations. You must be at least 16+ years old. </p>
            <p class="lead"><b>Any Resemblance.</b> Any resemblance to any establishment, character personality and names,
                living or dead are purely coincidental. </p>
            <p class="lead"><b>Each story.</b> All characters and events are all product of the author's imagination.
            </p>
            <br/>

            <br/>
            <br/>


        </div>

    </div>


</div>
{% endblock %}

