{% extends 'base.html' %}
{% block title %}Weirdoso Stories - Update Password {% endblock %}
{% block content %}
<div class="container" style="max-width:60%;">
<br/><br/>
<h1 style="font-family: lato; color: #7f5a37;">Update Password.</h1>
    <p class="lead">You can always update your password.</p>
</div>
<br/><br/>
<div class="container" style="max-width:60%;">
<div class="mb-3">
<form method="POST" style="color:#7f5a37;">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'edit_profile' %}" class="btn btn-outline-none"  style="color:#7f5a37; "> Cancel </a>
    <button class="btn" bgcolor="#725145" style="color:white; border-radius: 20px 20px 20px 20px;">Save Changes</button>

</form>
</div>
</div>
{% endblock %}

