{% extends 'base.html' %}
{% block title %}Weirdoso Stories: Edit Profile {% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container" style="max-width:70%;">
    {% if user.id == profile.user.id %}
        <br/><br/>
        <h1 style="font-family: lato;color:#7f5a37;">Edit Profile.</h1>

        <br/><br/>
</div>

<div class="container" style="max-width:70%;">
        <div class="mb-3">
        <form method="POST" enctype="multipart/form-data" style="color:#7f5a37;">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <a href="{% url 'home' %}" class="btn btn-outline-none"  style="color:#7f5a37;"> Cancel </a>
            <button class="btn" bgcolor="#7f5a37" style="color:white; border-radius: 20px 20px 20px 20px;">Save Changes</button>

        </form>
        </div>



    {% else %}

     <center>
        <div class="container" style="max-width:100%; ">
            <div class="row featurette">
                <div class=" "><br/><br/><br/><br/><br/>
                    <h2 style="font-family: lato; color: #7f5a37;"><b>Uh Oh!</b></h2>
                    <p class="lead">You are not signed in to any account.</p>
                    <br/>

                    <a href="{% url 'login' %}" class="btn" style="color:#7f5a37; border-color:  #7f5a37; border-radius: 20px 20px 20px 20px;">Sign In</a>

                </div>

            </div>
        </div>
    </center>

    {% endif %}
{% else %}
     <center>
        <div class="container" style="max-width:100%; ">
            <div class="row featurette">
                <div class=" "><br/><br/><br/><br/><br/>
                    <h2 style="font-family: lato; color: #7f5a37;"><b>Uh Oh!</b></h2>
                    <p class="lead">You are not signed in to any account.</p>
                    <br/>

                    <a href="{% url 'login' %}" class="btn" style="color:#7f5a37; border-color:  #7f5a37;">Sign In</a>

                </div>

            </div>
        </div>
    </center>

{% endif %}
</div>
{% endblock %}

