{% extends 'base.html' %}
{% block title %}Weirdoso Stories: Password Updated {% endblock %}
{% block content %}
<br/><br/><br/><br/>

<div class="container" style="max-width:80%;">
     <h1 style="font-family: lato; color: #725145;">Password Changed Succesfully.</h1>
        <p class="lead">Romance and General Fiction. Completed Stories. Ads-free chapters.</p>
        <br/>
            <a href="{% url 'home' %}"class="btn" bgcolor="#725145" style="color:white; border-radius: 20px 20px 20px 20px;"> GO TO HOME </a>
</div>
{% endblock %}

