{% extends 'base.html' %}
{% block title %}Weirdoso Stories: Create Account {% endblock %}
{% block content %}
<div class="container" style="max-width:60%;">
<br/>
 <br/>
    <h1 style="font-family: lato; color: #7f5a37;">Let's get you started.</h1>
    <p>Already have an account? <a href="{% url 'login' %}" style="text-decoration: none; color: #7f5a37;">Sign In</a>. </p>
    <br/>
</div>
<div class="container" style="max-width:60%;">
<br/><br/>
<div class="mb-3">
    <form method="POST" style="color:#7f5a37;">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'home' %}" class="btn btn-outline-none"  style="color:#7f5a37; ">Cancel</a>
        <button class="btn" bgcolor="#7f5a37" style="color:white; border-radius: 20px 20px 20px 20px;">Sign Up</button>

    </form>
</div>
<br/><br/><br/>
</div>
{% endblock %}

